@mixin flex-mid {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-us-container {
	height: 75vh;
	width: 100vw;
	position: relative;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		z-index: 0;
	}
}
.dark {
	.about-us-card {
		background: #292929;
		p {
			color: white;
		}
		h2 {
			color: white;
		}
	}
	.about-us-title {
		background: #121212;
	}
}

.about-us-card {
	width: 30%;
	height: 80%;
	border: none;
	z-index: 3;
	position: absolute;
	top: 10%;
	right: 10%;
	background: white;
	box-shadow: 5px 5px 15px 5px #292929;
}

.about-us-title {
	height: 15%;
	width: 100%;
	background: #f5f5f5;
	@include flex-mid;
}

.about-us-content {
	height: 85%;
	width: 100%;
	@include flex-mid;
	padding: 0rem 2rem;
}

@media (max-width: 550px) {
	.about-us-container {
		img {
			object-position: 20%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.about-us-card {
			width: 90%;
			height: 85%;
			right: 0%;
			opacity: 0.8;
			margin: 0rem 1.5rem;
		}
	}
}
