.footer-container {
	height: fit-content;
	width: 100vw;
	background: #f5f5f5;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	text-align: center;
	overflow: hidden;
	padding: 1rem 0rem h6 {
		line-height: 1.6rem;
	}
}

.dark {
	.footer-container {
		background: #292929;
		color: white;
	}
}

.social-icons {
	width: 10%;
	height: auto;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.payment-icons {
	width: 20%;
	height: auto;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 550px) {
	.social-icons {
		justify-content: space-around;
		width: 60%;
	}
	.payment-icons {
		justify-content: space-around;
		width: 60%;
	}
	.footer-container {
		h6 {
			font-size: small;
		}
	}
}
