// Top of Home
.homepage-container {
	height: fit-content;
	width: 100vw;
}
.carousel-container {
	height: 85vh;
	width: 100vw;
}

.carousel {
	width: 100%;
	height: 500px;
	margin: auto;
}

.carousel-item > img {
	width: 100%;
	height: 85vh;
	filter: brightness(60%);
	object-fit: cover;
}

.first-slide-text {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 30vh;
	width: 50%;
	top: -1300%;
	left: 60%;
	h1 {
		color: white;
	}
	button {
		padding: 0.8rem 1.8rem;
		border: 1px solid white;
		background-color: transparent;
		font-size: 2rem;
	}
	svg {
		position: absolute;
		top: 150%;
		left: -30%;
		cursor: pointer;
	}
}
#breathe {
	color: #00d261;
}

#clean {
	color: #01b2ea;
}

#warm {
	color: #e24317;
}
@media (max-width: 900px) {
	.first-slide-text {
		width: 70vw;
		left: 0%;
		top: -700%;

		h1 {
			font-size: 1.5rem;
		}
		button {
			padding: 0.5rem 0.3rem;
			font-size: 1.5rem;
		}
		svg {
			display: none;
		}
	}
}
//Middle of Home
.middle-container {
	height: 100vh;
	width: 100vw;
	position: relative;
}

.top-middle {
	height: 70%;
	width: 100%;
	background: #f5f5f5;
}
.dark {
	.top-middle {
		background: rgba(18, 18, 18, 1);
	}
	.middle-text {
		color: white;
	}
	a {
		color: white;
	}
	.icons-middle > p {
		color: white;
	}
	.learn-more {
		background: #292929;
	}
	.middle-container {
		background: #292929;
	}
}

.icons-container-middle {
	height: 100%;
	width: 40%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	margin-left: 3rem;
}

.icons-and-text {
	display: flex;
}

.icons-middle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.middle-text {
	margin-left: 1rem;
	text-align: center;
	a {
		pointer-events: none;
		text-decoration: none;
		&:hover {
			pointer-events: none;
			text-decoration: none;
		}
	}
}

.icons-middle > p {
	padding: 1rem 0rem;
	height: 50%;
	width: 75%;
}

.learn-more {
	background: black;
	font-size: 2rem;
	padding: 1rem 3rem;
	margin-left: 0rem;
}

.purifier-container {
	width: 35%;
	height: 90%;
	overflow: hidden;
	position: absolute;
	right: 5%;
	top: 2%;
	img {
		object-fit: contain;
		width: 100%;
		height: 100%;
	}
}

.image-thumbnails {
	height: 20vh;
	max-width: 60vw;
	display: flex;
	align-items: center;
	margin-top: 3rem;
	justify-content: space-around;
	position: relative;
	.overlay,
	.overlay2,
	.overlay3 {
		position: absolute;
		z-index: 3;
	}
	.overlay {
		width: 30%;
		height: 100%;
		top: 0%;
		left: 1.6%;
		background: rgba(18, 18, 18, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 5;
		button {
			padding: 0.4rem 0.7rem;
			background: black;
		}
	}
	.thumbnail-image {
		min-height: 100%;
		width: 30%;
		background: url('../assets/images/fan-hero.png');
		background-size: cover;
		background-position: 60%;
	}
}

@media (max-width: 900px) {
	.middle-container {
		height: fit-content;
	}
	.purifier-container {
		width: 100vw;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 1.5rem;
		img {
			width: 100vw;
		}
	}
	.icons-middle {
		max-width: 35%;
		font-size: 1rem;
	}
	.top-middle {
		padding: 0rem;
		font-size: 1rem;
	}
	.icons-container-middle {
		width: 100%;
		margin: 0rem;
		padding: 0rem 0.3rem;
	}
	.bottom-image-container {
		opacity: 0;
		pointer-events: none;
	}
	.learn-more {
		padding: 0.5rem 0.5rem;
		margin-bottom: 1rem;
	}
	a {
		h3 {
			font-size: 1.5rem;
		}
	}
	.image-thumbnails {
		width: 100vw;
		flex-direction: column;
		height: 50vh;
		margin-left: 1.2rem;
		margin-top: 5rem;
		img {
			object-fit: cover;
			height: 40%;
			max-width: 90%;
			object-position: 70%;
			margin-top: 1rem;
		}
	}
}

@media (max-width: 1200px) {
	.icons-middle {
		font-size: 0.8rem;
	}
	.middle-text {
		font-size: 0.8rem;
	}
}
//bottom container

.small-thumbnail-gallery {
	height: 60vh;
	width: 100vw;
	overflow: hidden;
}

.grey-half {
	height: 50%;
	width: 100%;
	background: #f5f5f5;
}

.dark {
	.grey-half {
		background: #292929;
	}
	.bottom-text {
		background: rgba(18, 18, 18, 1);
		color: white;
		p {
			color: white;
		}
	}
}

.bottom-image-container {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: 215%;

	img {
		width: 20%;
		height: 30vh;
		object-fit: cover;
	}
}
.bottom-text {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	h3 {
		padding-bottom: 3rem;
	}
	p {
		width: 25%;
		text-align: center;
		padding-bottom: 1rem;
	}
}

@media (max-width: 900px) {
	.bottom-text {
		flex-direction: column;
		position: relative;
		height: 30vh;
		h3 {
			width: 100%;
			text-align: center;
			position: absolute;
			top: -40%;
		}
		p {
			width: 100%;
			position: absolute;
			top: 0%;
		}
	}
}
