@mixin flex-nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav {
	width: 100vw;
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	.bars {
		display: none;
	}
}
.dark {
	nav {
		background: #292929;
		color: white;
		a {
			color: white;
		}
	}
}

.navbar {
	@include flex-nav;
	width: 90%;
	height: 100%;
}

.trolley {
	margin-bottom: 1rem;
	margin-right: 2rem;
	width: 10vw;
}

//dark mode slider

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
@media (max-width: 900px) {
	nav {
		ul {
			width: fit-content;
			height: fit-content;
			padding: 0rem;
			margin: 0rem;
			justify-content: flex-start;
			align-items: flex-start;
			position: relative;
			img {
				position: absolute;
				left: 5%;
			}
		}
		li {
			display: none;
		}

		.trolley {
			width: 50vw;
			padding: 0;
			margin: 0rem 1rem 0rem 0rem;
			button {
				display: none;
			}
			.bars {
				display: inline;
				cursor: pointer;
			}
		}
	}
	.mobile-overlay {
		position: fixed;
		top: 0%;
		width: 100vw;
		height: 100vh;
		background: white;
		z-index: 9000;
	}
	.mini-nav {
		width: 90vw;
		height: 15vh;
		display: flex;
		margin: 0rem 1rem;
		border-bottom: 2px solid black;
		.top-mini-nav {
			width: 90vw;
			height: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
	}
	.mini-nav-items {
		ul {
			li {
				height: 10vh;
				text-align: center;
				cursor: pointer;
			}
			&:first-child {
				margin-top: 2rem;
			}
		}
	}
	.mini-nav-social {
		display: flex;
		justify-content: space-around;
		width: 80%;
		margin-left: 2rem;
	}
	#bars {
		cursor: pointer;
	}
}
