.technical-spec-container {
	h1 {
		text-align: center;
	}
}

.specs-and-img-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.specs-container {
	padding: 5rem 3rem;
	min-width: 50%;
	height: 100%;
}

.techspecs-small-container {
	display: flex;
	margin-bottom: 1rem;
	width: 50%;
	justify-content: flex-start;
	align-items: center;
	img {
		padding-right: 2rem;
	}
}

@media (max-width: 550px) {
	.specs-and-img-container {
		flex-direction: column;
		justify-content: flex-start;
		height: fit-content;
	}
	.specs-container {
		min-width: 100%;
	}
	.techspecs-small-container {
		width: 100%;
	}
	.tech-text {
		width: 100%;
	}
	.tech-img-container {
		height: 400px;
		width: 400px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
