//imports
@import './navStyles';
@import './homepage';
@import './footer';
@import './shophome';
@import './shopItems';
@import './aboutUs';
@import './contact';
@import './cart';
@import './payment';
@import './technicalSpecs';
// global styles
* {
	border: 0;
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}
body {
	overflow-x: hidden;
	height: 100%;
	margin: 0;
}

a {
	color: black;
}

p {
	color: black;
}

h1 {
	color: black;
}

span {
	color: black;
}

button {
	color: white;
}

li {
	list-style-type: none;
	font-size: 1.3rem;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.hide {
	display: none;
}
