nav {
  width: 100vw;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .bars {
  display: none;
}

.dark nav {
  background: #292929;
  color: white;
}

.dark nav a {
  color: white;
}

.darkmode-button {
  margin-top: 5rem;
  margin-right: 2rem;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 100%;
}

.trolley {
  width: 10vw;
  position: relative;
}

.trolley button {
  position: absolute;
  top: 25%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 900px) {
  nav ul {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0rem;
    margin: 0rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  nav ul img {
    position: absolute;
    left: 5%;
  }
  nav li {
    display: none;
  }
  nav .trolley {
    width: 50vw;
    padding: 0;
    margin: 0rem 1rem 0rem 0rem;
  }
  nav .trolley button {
    display: none;
  }
  nav .trolley .bars {
    display: inline;
    cursor: pointer;
  }
  .darkmode-button {
    margin-top: 0rem;
  }
  .mobile-overlay {
    position: fixed;
    top: 0%;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 9000;
  }
  .mini-nav {
    width: 90vw;
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0rem 1rem;
    border-bottom: 2px solid black;
  }
  .mini-nav .top-mini-nav {
    width: 90vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mini-nav-items ul li {
    height: 10vh;
    text-align: center;
    cursor: pointer;
  }
  .mini-nav-items ul:first-child {
    margin-top: 2rem;
  }
  .mini-nav-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%;
    margin-left: 2rem;
  }
  #bars {
    cursor: pointer;
  }
}

.homepage-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
}

.carousel-container {
  height: 85vh;
  width: 100vw;
}

.carousel {
  width: 100%;
  height: 500px;
  margin: auto;
}

.carousel-item > img {
  width: 100%;
  height: 85vh;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -o-object-fit: cover;
     object-fit: cover;
}

.first-slide-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
  width: 50%;
  top: -1300%;
  left: 60%;
}

.first-slide-text h1 {
  color: white;
}

.first-slide-text button {
  padding: 0.8rem 1.8rem;
  border: 1px solid white;
  background-color: transparent;
  font-size: 2rem;
}

.first-slide-text svg {
  position: absolute;
  top: 150%;
  left: -30%;
  cursor: pointer;
}

#breathe {
  color: #00d261;
}

#clean {
  color: #01b2ea;
}

#warm {
  color: #e24317;
}

@media (max-width: 900px) {
  .first-slide-text {
    width: 70vw;
    left: 0%;
    top: -700%;
  }
  .first-slide-text h1 {
    font-size: 1.5rem;
  }
  .first-slide-text button {
    padding: 0.5rem 0.3rem;
    font-size: 1.5rem;
  }
  .first-slide-text svg {
    display: none;
  }
}

.middle-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.top-middle {
  height: 70%;
  width: 100%;
  background: #f5f5f5;
}

.dark .top-middle {
  background: #121212;
}

.dark .middle-text {
  color: white;
}

.dark a {
  color: white;
}

.dark .icons-middle > p {
  color: white;
}

.dark .learn-more {
  background: #292929;
}

.dark .middle-container {
  background: #292929;
}

.icons-container-middle {
  height: 100%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3rem;
}

.icons-and-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icons-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.middle-text {
  margin-left: 1rem;
  text-align: center;
}

.middle-text a {
  pointer-events: none;
  text-decoration: none;
}

.middle-text a:hover {
  pointer-events: none;
  text-decoration: none;
}

.icons-middle > p {
  padding: 1rem 0rem;
  height: 50%;
  width: 75%;
}

.learn-more {
  background: black;
  font-size: 2rem;
  padding: 1rem 3rem;
  margin-left: 0rem;
}

.purifier-container {
  width: 35%;
  height: 90%;
  overflow: hidden;
  position: absolute;
  right: 5%;
  top: 2%;
}

.purifier-container img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.image-thumbnails {
  height: 40%;
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.image-thumbnails img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 40%;
  max-width: 25%;
  -o-object-position: 70%;
     object-position: 70%;
  margin-top: 4rem;
}

@media (max-width: 900px) {
  .middle-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .purifier-container {
    width: 100vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1.5rem;
  }
  .purifier-container img {
    width: 100vw;
  }
  .icons-middle {
    max-width: 35%;
    font-size: 1rem;
  }
  .top-middle {
    padding: 0rem;
    font-size: 1rem;
  }
  .icons-container-middle {
    width: 100%;
    margin: 0rem;
    padding: 0rem 0.3rem;
  }
  .bottom-image-container {
    opacity: 0;
    pointer-events: none;
  }
  .learn-more {
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
  }
  a h3 {
    font-size: 1.5rem;
  }
  .image-thumbnails {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50vh;
    margin-left: 1.2rem;
    margin-top: 5rem;
  }
  .image-thumbnails img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 40%;
    max-width: 90%;
    -o-object-position: 70%;
       object-position: 70%;
    margin-top: 1rem;
  }
}

@media (max-width: 1200px) {
  .icons-middle {
    font-size: 0.8rem;
  }
  .middle-text {
    font-size: 0.8rem;
  }
}

.small-thumbnail-gallery {
  height: 60vh;
  width: 100vw;
  overflow: hidden;
}

.grey-half {
  height: 50%;
  width: 100%;
  background: #f5f5f5;
}

.dark .grey-half {
  background: #292929;
}

.dark .bottom-text {
  background: #121212;
  color: white;
}

.dark .bottom-text p {
  color: white;
}

.bottom-image-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 215%;
}

.bottom-image-container img {
  width: 20%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottom-text {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bottom-text h3 {
  padding-bottom: 3rem;
}

.bottom-text p {
  width: 25%;
  text-align: center;
  padding-bottom: 1rem;
}

@media (max-width: 900px) {
  .bottom-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    height: 30vh;
  }
  .bottom-text h3 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: -40%;
  }
  .bottom-text p {
    width: 100%;
    position: absolute;
    top: 0%;
  }
}

.footer-container {
  height: 40vh;
  width: 100vw;
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.footer-container h6 {
  line-height: 1.6rem;
}

.dark .footer-container {
  background: #292929;
  color: white;
}

.social-icons {
  width: 10%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.payment-icons {
  width: 20%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 550px) {
  .social-icons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 60%;
  }
  .payment-icons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 60%;
  }
}

.main-and-text1 {
  position: relative;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main-and-text1 .ptext {
  position: absolute;
  width: 30%;
  margin-left: 5rem;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
  top: 20%;
}

.main-and-text1 .ptext span {
  font-size: 3rem;
  border: none !important;
  background: transparent;
  color: white;
  font-weight: 700;
}

.main-and-text1 .ptext button {
  padding: 1rem 2rem;
  background: black;
  color: white;
}

.main-and-text2 {
  position: relative;
}

.main-and-text2 .ptext2,
.main-and-text2 .ptext3,
.main-and-text2 .ptext4 {
  width: 30%;
  margin-left: 5rem;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
  position: absolute;
  top: 20%;
}

.main-and-text2 .ptext2 span,
.main-and-text2 .ptext3 span,
.main-and-text2 .ptext4 span {
  font-size: 3rem;
  border: none !important;
  background: transparent;
  color: white;
  font-weight: 700;
}

.main-and-text2 .ptext2 button,
.main-and-text2 .ptext3 button,
.main-and-text2 .ptext4 button {
  padding: 1rem 2rem;
  background: black;
  color: white;
}

.section h2 {
  letter-spacing: 10px;
}

.tech {
  margin-top: 1rem;
}

.dark .section {
  background-color: #292929;
}

.dark .section h2 {
  color: white;
}

.dark .section p {
  background-color: #292929;
  color: white;
}

.section {
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: #f5f5f5;
  margin-bottom: 0rem;
  padding: 1rem 2rem;
}

.section p {
  margin-bottom: 0rem;
  padding-bottom: 1rem;
  background-color: #f5f5f5;
}

.ptext3 {
  top: 280%;
}

.ptext4 {
  top: 380%;
}

.pimg1 {
  background-image: url("../assets/images/bedroom.jpg");
  -webkit-filter: brightness(55%);
          filter: brightness(55%);
  background-attachment: fixed;
  min-height: 100vh;
  z-index: 0;
}

.pimg2 {
  background-image: url("../assets/images/fan-hero.png");
  background-attachment: fixed;
  min-height: 100vh;
  -webkit-filter: brightness(55%);
          filter: brightness(55%);
}

.pimg3 {
  background-image: url("../assets/images/humidfiers.webp");
  background-attachment: fixed;
  min-height: 100vh;
  -webkit-filter: brightness(55%);
          filter: brightness(55%);
}

.pimg4 {
  background-image: url("../assets/images/heater-room.jpg");
  background-attachment: fixed;
  min-height: 100vh;
  -webkit-filter: brightness(55%);
          filter: brightness(55%);
}

@media (max-width: 550px) {
  .ptext,
  .ptext2,
  .ptext3,
  .ptext4 {
    min-width: 70%;
    margin-left: 0rem;
  }
  .padding {
    padding: 1rem 0rem;
  }
  .pimg1 {
    background-position: 70%;
  }
  .pimg2 {
    background-position: 70%;
  }
  .pimg3 {
    background-position: 70%;
  }
  .pimg4 {
    background-position: 30%;
  }
}

.purifier-shop-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.indivdual-item {
  height: 90vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, whitesmoke), color-stop(50%, white));
  background: linear-gradient(180deg, whitesmoke 50%, white 50%);
}

.indivdual-item img {
  width: 50%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.dark .indivdual-item {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #121212), color-stop(50%, #292929));
  background: linear-gradient(180deg, #121212 50%, #292929 50%);
  color: white;
}

.dark .indivdual-item p {
  color: white;
}

.dark .indivdual-item h1 {
  color: white;
}

.grey-area {
  height: 50%;
  width: 100%;
}

.indivdual-items-text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: hidden;
  margin-right: 3rem;
}

.indivdual-items-text p {
  padding: 0rem 0rem;
  text-align: center;
}

.button-and-price {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.button-and-price button {
  background: black;
  padding: 1rem 2rem;
}

.loading-screen {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.loading-screen img {
  position: fixed;
  z-index: 9000;
  top: 30%;
  left: 45%;
}

@media (max-width: 900px) {
  .indivdual-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .indivdual-items-text {
    font-size: 0.8rem;
    padding-left: 2rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 2rem;
  }
  .button-and-price {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about-us-container {
  height: 75vh;
  width: 100vw;
  position: relative;
}

.about-us-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.dark .about-us-card {
  background: #292929;
}

.dark .about-us-card p {
  color: white;
}

.dark .about-us-card h2 {
  color: white;
}

.dark .about-us-title {
  background: #121212;
}

.about-us-card {
  width: 30%;
  height: 80%;
  border: none;
  z-index: 3;
  position: absolute;
  top: 10%;
  right: 10%;
  background: white;
  -webkit-box-shadow: 5px 5px 15px 5px #292929;
          box-shadow: 5px 5px 15px 5px #292929;
}

.about-us-title {
  height: 15%;
  width: 100%;
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us-content {
  height: 85%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 2rem;
}

@media (max-width: 550px) {
  .about-us-container img {
    -o-object-position: 20%;
       object-position: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-us-container .about-us-card {
    width: 90%;
    height: 85%;
    right: 0%;
    opacity: 0.8;
    margin: 0rem 1.5rem;
  }
}

@media (max-width: 450px) {
  .about-us-card {
    font-size: 0.8rem;
  }
}

.contact-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
}

.fan-video {
  min-width: 100%;
  max-height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, whitesmoke), color-stop(50%, white));
  background: linear-gradient(180deg, whitesmoke 50%, white 50%);
}

.dark .form {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #121212), color-stop(50%, #292929));
  background: linear-gradient(180deg, #121212 50%, #292929 50%);
}

.form-container {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #f5f5f5;
  margin: 2rem 0rem;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
          box-shadow: 5px 5px 15px 5px #000000;
  text-align: center;
}

.contact-form {
  min-width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

@media (max-width: 550px) {
  .fan-video {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
  }
  .form-container {
    width: 90%;
  }
}

.empty-cart-container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.empty-cart-container img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 60%;
}

.empty-cart-container button {
  padding: 1rem 2rem;
  font-size: larger;
  color: black;
}

.dark .empty-cart-container {
  background: #121212;
  color: white;
}

.dark button {
  background: #292929;
}

.cart-items-container {
  min-height: 90vh;
  width: 100vw;
  position: relative;
}

.cart-banner {
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #f5f5f5;
  padding: 0.5rem 1rem;
}

.main-cart-items-container {
  max-width: 60%;
  min-height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
}

.main-cart-items-container img {
  width: 40%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-cart-items-container .product-text-container button {
  padding: 1rem 2rem;
  background: black;
  color: white;
  margin-top: 2rem;
}

.main-cart-items-container .product-text-container .add-remove-items {
  margin-top: 3rem;
}

.main-cart-items-container .product-text-container .add-remove-items svg {
  cursor: pointer;
}

.main-cart-items-container .product-text-container .add-remove-items .product-quantity-update {
  margin: 0rem 1rem;
}

.main-cart-items-container .product-text-container .add-remove-btn {
  padding: 0.2rem 1rem;
  font-size: 2rem;
  border-radius: 50%;
}

.main-cart-items-container .product-text-container .remove-btn {
  margin-left: 1rem;
}

.summary {
  width: 30%;
  min-height: 90%;
  position: absolute;
  top: 0%;
  right: 0%;
  background: #f5f5f5;
  margin-right: 3%;
}

.summary h1 {
  text-align: center;
  padding-bottom: 2rem;
}

.summary ul {
  padding: 0rem 2rem;
}

.summary li {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.summary .cart-list-item {
  margin-top: 1rem;
}

.dark .summary {
  background: #121212;
  color: white;
}

.dark .summary h1 {
  color: white;
}

.dark .summary li {
  color: white;
}

.dark .summary li span {
  color: white;
}

.dark .cart-banner {
  background: #121212;
}

.dark .cart-banner h1 {
  color: white;
}

.dark .cart-items-container {
  background: #292929;
  color: white;
}

.dark .cart-items-container span {
  color: white;
}

.dark .cart-items-container .add-remove-items svg {
  fill: white;
}

#cart-subtotal {
  margin-top: 1rem;
}

#no-vat-price {
  margin-top: 3rem;
}

.checkout-btn-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout-btn,
.empty-btn {
  padding: 1rem 2rem;
  font-size: 1.3rem;
  color: white;
  background: black;
}

.shipping-small-text {
  font-size: 0.6rem;
  margin: 2rem 1rem;
}

@media (max-width: 900px) {
  .cart-items-container {
    min-height: 100vh;
  }
  .cart-items-container h1 {
    font-size: 1.3rem;
  }
  .cart-items-container img {
    width: 20%;
  }
  .cart-items-container .main-cart-items-container {
    width: 50%;
  }
  .cart-items-container .cart-banner {
    width: 50%;
  }
  .cart-items-container .summary {
    width: 45%;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    margin-bottom: 1rem;
  }
  .cart-items-container .summary h1 {
    padding-top: 0.5rem;
  }
  .cart-items-container .checkout-btn-container {
    height: 10%;
  }
  .cart-items-container button {
    padding: 0.4rem 0.4rem;
    font-size: 0.8rem;
  }
  .cart-items-container .product-text-container {
    padding: 1rem 0rem;
  }
  .cart-items-container .product-text-container button {
    padding: 0.5rem 0.5rem;
  }
}

.flex-list {
  width: 100%;
}

.small-flex-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.total-and-subtotal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shipping-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conformation-container {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, whitesmoke), color-stop(50%, white));
  background: linear-gradient(180deg, whitesmoke 50%, white 50%);
  z-index: -1000;
}

.conformation-container h1 {
  text-align: center;
}

.review-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 12;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, whitesmoke), color-stop(50%, white));
  background: linear-gradient(180deg, whitesmoke 50%, white 50%);
}

.conformation-card {
  width: 350px;
  height: 300px;
  -webkit-box-shadow: 5px 5px 15px 5px lightgray;
          box-shadow: 5px 5px 15px 5px lightgray;
  margin: 2rem 2rem;
  text-align: center;
  background: white;
}

.conformation-card h3 {
  padding: 1rem 0rem;
  background: #f5f5f5;
}

.technical-spec-container h1 {
  text-align: center;
  background: #f5f5f5;
  padding: 1rem;
}

.specs-and-img-container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.specs-container {
  padding: 5rem 3rem;
  min-width: 50%;
  height: 100%;
}

.techspecs-small-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.techspecs-small-container img {
  padding-right: 2rem;
}

.tech-text {
  width: 100%;
}

.tech-img-container {
  width: 50%;
  height: 100%;
}

.tech-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.dark .technical-spec-container {
  background-color: #292929;
  color: white;
}

.dark .technical-spec-container h1 {
  color: white;
  background: #121212;
}

@media (max-width: 550px) {
  .specs-and-img-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .specs-container {
    min-width: 100%;
  }
  .techspecs-small-container {
    width: 100%;
  }
  .tech-text {
    width: 100%;
  }
  .tech-img-container {
    height: 400px;
    width: 400px;
    overflow: hidden;
  }
  .tech-img-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.terms-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 0rem 2rem;
}

.terms-container li {
  margin-left: 1rem;
  list-style-type: number !important;
}

.dark .terms-container {
  background: #292929;
}

.dark .terms-container h1,
.dark .terms-container h3 {
  color: white;
}

.dark .terms-container p {
  color: white;
}

.dark .terms-container ol li {
  color: white;
}

.modal-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-card {
  width: 30%;
  height: 30%;
  background: white;
  position: absolute;
  z-index: 300;
  opacity: 1;
  padding: 1rem 1.5rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.modal-card .modal-btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-card .modal-btns button {
  padding: 0.5rem 0.8rem;
  background: black;
}

.modal-card svg {
  position: absolute;
  top: 3%;
  right: 3%;
}

.modal-card svg:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}

@media (max-width: 900px) {
  .modal-card {
    width: 90%;
    height: 50%;
  }
}

@media (max-width: 1200px) {
  .modal-card {
    width: 40%;
  }
}

* {
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}

a {
  color: black;
}

p {
  color: black;
}

h1 {
  color: black;
}

span {
  color: black;
}

button {
  color: white;
}

li {
  list-style-type: none;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.hide {
  display: none;
}
/*# sourceMappingURL=styles.css.map */